h1#title{
  
  color: rgb(126, 21, 21);
}

h1{
    
}
body{
  background-color: rgb(229, 229, 241);
  text-align:center;
}

#form-outer
{
  background-color: gray;
  text-align: center;
  color: black;
  margin:20px ;
  border-radius:33px ;
}
label{
  max-resolution: 2px; 
  border: 10px;
}